<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
      rel="stylesheet"
    />
    <title>Jim Daily</title>
  </head>
  <body>
    <div>
      <header>
        <a href="{{ '/' | url }}">Jim Daily</a>
        <a href="{{ '/blogs' | url }}">Blogs</a>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
