---
title: "Blogs"
layout: "base.njk"
---

<h1>All Blogs</h1>
<div>
  {% for blog in collections.blogs %}
  <div>
    <a href="{{ '/blogs/{{ blog.data.title }}' | url}}">
      {{ blog.data.title }}
    </a>
    <span>
      {{ blog.data.publishAt }}
    </span>
  </div>
  {% endfor %}
</div>
